<a href="https://colab.research.google.com/github/amitthakur2013/Coursera_Capstone/blob/master/manufacturer_companies_web_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install requests
!pip install beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2019.9.11)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [0]:
from bs4 import BeautifulSoup
import requests
import os,os.path, csv

In [3]:
url="https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue"
url

'https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue'

In [0]:
import pandas as pd

In [0]:
response=requests.get(url)
soup=BeautifulSoup(response.text,'html.parser')
print(soup)

In [0]:
table=soup.find('table',{'class':'wikitable sortable plainrowheads'})

In [18]:
rows=table.find_all('tr')
columns=[v.text.replace('\n','') for v in rows[0].find_all('th')]
print(columns)

['No.', 'Company', 'Industry', 'Revenue (by US$ million)', 'Headquarters']

In [19]:
df=pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [No., Company, Industry, Revenue (by US$ million), Headquarters]
Index: []

In [31]:
for i in range(1,len(rows)):
  tds=rows[i].find_all('td')
  
  if(len(tds)==4):
    values=[tds[0].text, tds[1].text, '', tds[2].text,tds[3].text.replace('\n','').replace('\xa0','')]
  else:
    values=[td.text.replace('\n','').replace('\xa0','') for td in tds]
    
  df=df.append(pd.Series(values, index=columns), ignore_index=True)
df

     No.  ...         Headquarters
0    100  ...                Japan
1    100  ...                Japan
2      1  ...              Germany
3      2  ...                Japan
4      3  ...        United States
5      4  ...          South Korea
6      5  ...              Germany
7      6  ...  Italy / Netherlands
8      7  ...        United States
9      8  ...        United States
10     9  ...               Taiwan
11    10  ...                Japan
12    11  ...        United States
13    12  ...                China
14    13  ...        United States
15    14  ...              Germany
16    15  ...                Japan
17    16  ...                China
18    17  ...        United States
19    18  ...                China
20    19  ...              Germany
21    20  ...          Switzerland
22    21  ...                China
23    22  ...              Germany
24    23  ...          South Korea
25    24  ...                Japan
26    25  ...                Italy
27    26  ...                Italy
28    27  ...        United States
29    28  ...        United States
..   ...  ...                  ...
275   71  ...                Japan
276   72  ...               France
277   73  ...                India
278   74  ...        United States
279   75  ...                China
280   76  ...        United States
281   77  ...                China
282   78  ...                China
283   79  ...                China
284   80  ...                China
285   81  ...                China
286   82  ...                Japan
287   83  ...            Singapore
288   84  ...                China
289   85  ...                China
290   86  ...              Germany
291   87  ...               France
292   88  ...        United States
293   89  ...        United States
294   90  ...                Japan
295   91  ...         Saudi Arabia
296   92  ...       United Kingdom
297   93  ...               Taiwan
298   94  ...               Sweden
299   95  ...               Canada
300   96  ...       United Kingdom
301   97  ...        United States
302   98  ...        United States
303   99  ...                Japan
304  100  ...                Japan

[305 rows x 5 columns]

In [0]:
df.to_csv('manufacturer_companies.csv', index=False)

In [39]:
df2=pd.read_csv('manufacturer_companies.csv')
df2

     No.  ...         Headquarters
0    100  ...                Japan
1    100  ...                Japan
2      1  ...              Germany
3      2  ...                Japan
4      3  ...        United States
5      4  ...          South Korea
6      5  ...              Germany
7      6  ...  Italy / Netherlands
8      7  ...        United States
9      8  ...        United States
10     9  ...               Taiwan
11    10  ...                Japan
12    11  ...        United States
13    12  ...                China
14    13  ...        United States
15    14  ...              Germany
16    15  ...                Japan
17    16  ...                China
18    17  ...        United States
19    18  ...                China
20    19  ...              Germany
21    20  ...          Switzerland
22    21  ...                China
23    22  ...              Germany
24    23  ...          South Korea
25    24  ...                Japan
26    25  ...                Italy
27    26  ...                Italy
28    27  ...        United States
29    28  ...        United States
..   ...  ...                  ...
275   71  ...                Japan
276   72  ...               France
277   73  ...                India
278   74  ...        United States
279   75  ...                China
280   76  ...        United States
281   77  ...                China
282   78  ...                China
283   79  ...                China
284   80  ...                China
285   81  ...                China
286   82  ...                Japan
287   83  ...            Singapore
288   84  ...                China
289   85  ...                China
290   86  ...              Germany
291   87  ...               France
292   88  ...        United States
293   89  ...        United States
294   90  ...                Japan
295   91  ...         Saudi Arabia
296   92  ...       United Kingdom
297   93  ...               Taiwan
298   94  ...               Sweden
299   95  ...               Canada
300   96  ...       United Kingdom
301   97  ...        United States
302   98  ...        United States
303   99  ...                Japan
304  100  ...                Japan

[305 rows x 5 columns]